<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Efinity"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvo1sf-xMRwLhmMk71LFRmsgBpZalrN44" />

        <activity
            android:name=".games.BossFightActivity"
            android:exported="false"
            android:label="@string/title_activity_boss_fight" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LogOrSignActivity" />
        <activity android:name=".login.LeaderLoginActivity" />
        <activity android:name=".login.leaderSignupActivity" />
        <activity android:name=".login.LeaderForgotActivity" />
        <activity android:name=".login.FreshmanLoginActivity"/>
        <activity android:name=".teams.TeamActivity" />
        <activity android:name=".teams.JoinTeamActivity" />
        <activity android:name=".teams.MakeTeamActivity" />
        <activity android:name=".games.treasureHuntActivity" />
        <activity android:name=".games.AddTreasureActivity" />
        <activity android:name=".games.ScatterTagActivity" />
        <activity android:name=".games.AddScatterActivity" />
        <activity
            android:name=".login.ResetPassActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="efinity99.com"
                    android:pathPrefix="/path"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".teams.MemberAddActivity"/>
        <activity android:name=".games.BossEncounterActivity"/>
        <activity android:name=".games.BossBattleActivity"/>
    </application>

</manifest>